/*Pixel Jungle Theme*/
/* Colour scheme
Deep canopy = #0F2B1E
Light canopy = #1E5031
Leaf icon (buttons for now) = #5FA85A
Background = #7EC151
Root layer = #4A2E1E

Header1 TODO add colours
Header2
Text
*/
@import url('https://googleapis.com');
.pixel-corners {
    --ps: 4;
    --steps: 2;
}
html{
    scrollbar-width: thin;
    scrollbar-color: #5FA85A #482b1a;
    overflow-x: hidden;
}
p{
    font-size: 24px;
    font-family: "Pixelify Sans", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:-8px auto auto auto;
}
h6{
    text-align: center;
    font-size: 24px;
    font-family: "Pixelify Sans", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0 auto auto auto;
}
h1{
    font-size: 64px;
    font-family: "Pixelify Sans", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin:-10px auto auto auto;
}
h2{
     font-size: 50px;
     font-family: "Pixelify Sans", monospace;
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     margin:-10px auto auto auto;
    align-content: center;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}
figure{
    padding: 0;
    margin: auto 0 0 ;
}
figcaption{
    font-size: 10px;
}
img{
    width: 100%;
    height: auto;
}

#forest{
    background-color: #B2D959;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 30px;
}
.button{
    display: inline-block;
    padding: 5px 10px;
    background-color: #5FA85A;
    color: #0e3a27;
    text-decoration: none;
    font-family: "Pixelify Sans", monospace;
    font-size: 25px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

main{
    flex: 1
}

#canopy{
    background-color: #0e3a27;
    width: 100%;
    padding-top: 1px;
}

.forestbox{
    background-color: #7EC151;
    width: 80%;
    margin: auto;
}

.major{
    margin: 10px auto;
    padding: 20px 13px;
}

#red-panda-holder{
    height: 300px;
    overflow-x: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#left-bamboo{
    height: 300px;
    width: auto;
}
#red-panda{
    height: 300px;
    width: auto;
}
#right-bamboo{
    height: 300px;
    width: auto;
}

#work-div{
    padding: 16px 16px 4px;
}

#my_works{
    width: 100%;
    padding-bottom: 12px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    gap: 16px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.tree_project{
    display:flex;
    flex-direction: column;
    width: 50%;
    aspect-ratio: 1/1;
    flex: 0 0 auto;
    padding: 16px;
    white-space: normal;
    background-color: #5FA85A;
}

.contact-me{
    background-color: #7EC151;
    width: 80%;
    margin: auto auto 10px;
    padding-left: 20px;
}

#roots{
    background-color: #482b1a;
    width: 100%;
}

#connections{
    display: flex;
    gap: 40px;
}
#connections .fa-solid,
#connections .fa-brands{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 50px !important;
    width: 50px;
    height: 50px;
    color: black;
    text-decoration: none;
}
#connections .fa-solid:hover,
#connections .fa-brands:hover{
    opacity: 0.5;
}